---
- name: Main Deployment Playbook
  hosts: all
  become: yes
  gather_facts: no

  tasks:
    - name: Begin Execution
      ansible.builtin.debug:
        msg: "Beginning execution on node: ({{ inventory_hostname }})"

    - name: Setup Redis Server
      ansible.builtin.import_tasks: redis_server.yml
      delagate_to: db
      notify: Redis

  handlers:
    - name: Redis Setup Complete
      ansible.builtin.debug:
        msg: "Redis deployment complete"
        
    - name: Python Complete
      ansible.builtin.debug:
        msg: "Python deployment complete"